
  <section class="page__share">
    <h4 class="page__share-title">Referência Bibliográfica</h4>
  
    <div class="tab ref-biblio">
      <button class="tablinks" onclick="openRef(event, 'APA')" id="defaultOpen"><span class="page__ref-title">APA</span></button>
      <button class="tablinks" onclick="openRef(event, 'Medievalista')">Medievalista</button>
      
    </div>
  
    <div id="APA" class="tabcontent ref-biblio">
      <p>{{ page.ref-author }}. ({{ page.ref-date }}). {{ page.title }}. <i>{{ site.title }}</i>. Disponível em {{ page.url | absolute_url }}</p>
    </div>
    
    <div id="Medievalista" class="tabcontent ref-biblio">
      <p>{{ page.ref-author-medievalista }} - "{{ page.title }}". <i>{{ site.title }}</i> [Em linha]. {{ page.ref-date }}, [Consultado a {{ 'now' | date: "%Y" }} ]. Disponível em {{ page.url | absolute_url  }}</p>      
    </div>
    


  </section>
  

